
.idea/zept-protoypes.github.io.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
/checklist-simple/.idea/vcs.xml
/checklist-simple/.idea/workspace.xml
internationalize-wizard/.idea/workspace.xml
*.xml
internationalize-wizard/.idea/workspace.xml
